<h><u>About me </u>
	I love meeting new people. I love staking out tables in coffee shops, drinking copious amounts of espresso, writing sporadically, and tackling new projects. 

	I'm not a even close to being a techie, but I like solving puzzles and creating new products, so...here you go!</h>

<body>
	<h2>This is me.</h2>
	<img src="katie_hsu.jpg" alt="justme" style="width:304px;height;400px">
</body>