<h1>Welcome to my site</h1>

<p>This is a small attempt to stake out my part of the world. Pleased to meet you.</p>

<p>Feel free to check out any part of my site...</p>

<!-- creates hyperlink with text "Bookshelf" and links-to default of the 'books' controller, which is the index method-->
<%= link_to 'Bio', controller: 'welcome', action: 'bio' %> 
<%= link_to 'Bookshelf', controller: "books" %>